@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0 ;
  padding: 0 ;
  scroll-behavior: smooth;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer Components{

  .Homepage_background {
    @apply flex w-full h-screen justify-center flex-col;
      background-image: url("/slider-1.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      }

  .Button1 {
    @apply w-48 h-16 flex justify-center items-center border-white border-[6px] border-solid p-2 transition-[0.3s];
      &:hover {
        transform: scale(103%);
        background-color: black;
      }
    }

}

